*{
  margin: 0;
  padding: 0;
}

header{
  height: 100vh;
}

footer{
  background-color: #000;
  height: 150px;
}

h1{
  text-align: center;
}
/************* Шапка сайта ************/


.header{
  display: flex;
}

.header_logo{
  padding: 10px;
}

.header_logo span{
  font-size: 38px;
  color: #4286f4;
}

.header_nav ul{
  display: flex;
}

.header_nav{
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  margin-left: auto;
}

.header_nav li{
  list-style: none;
  margin-left: 15px;
}

.header_nav a{
  text-decoration: none;
  text-transform: uppercase;
}




/****************  Блок услуги  ***************/

.service{
  height: 100vh;
  background-color: #4286f4;
}

.service_box{
  width: 400px;
  margin-top: 50px;
}

.box_ser{
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.dow{
  margin-top: 50px;
}

/********************* Блок что мы ремонтируем ***************/

.mobile{
  height: 100vh;
  background-color: #42f4df;
}

.mobile_box{
  margin: 0 auto;
  width: 1000px;
  margin-top: 150px;
  display: flex;
}

.box{
  width: 300px;
}

.box img{
  width: 200px;
  height: 300px;
}

.box p{
  padding-bottom: 30px;
}

/****************** Блок контактов ******************/


.contact{
  height: 100vh;
}

.contact_us{
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

/******************* Блок отзывы *****************/

.comments{
  color: #fff;
  background-color: #645;
}

.prof{
  margin-left: 20px;
  margin-top: 50px;
}

.prof i{
  margin-left: 5px;
  font-size: 24px;
  color: #fff;
}


.comments_us{
  width: 1000px;
  margin: 0 auto;
}

.comments_us li{
  list-style: none;
  padding: 10px;
}

.comm{
  display: flex;
}
